.clear.vertical_spacer
.user_details
  .avatar{title: user.name}
    = user_avatar_link_unless_private(user)
  .user_preview  
    .name
      = user_link_unless_private(user)
    = render partial: 'users/user_metadata', locals: { user: user }
    .badges
      - user.user_badges.sorted.each do |userbadge|
        - badge = userbadge.badge
        = link_to image_tag(badge.image_path, alt: badge.name, title: badge.name, width: 24, height: 24, loading: 'lazy'), badge_path(badge.id)
.clear.vertical_spacer