development:
  adapter: mysql2
  encoding: utf8
  database: biohackme_vanilla
  pool: 5
  username: biohackme
  password: ''
  host: localhost

test:
  adapter: mysql2
  encoding: utf8
  database: biohackme_vanilla_test
  pool: 5
  username: biohackme
  password: ''
  host: localhost