@use 'badges';
@use 'categories';
@use 'comments';
@use 'discussions';
@use 'pagination';
@use 'search';
@use 'tags';
@use 'users';

body {
  padding: 0;
  margin: 0;
}

#container {
  /* Prevent iOS and IE text size adjust after device orientation change,
   * without disabling user zoom. (from HTML boilerplate) */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* default font size, text color, etc */
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 14px;
  font-family: Bitter, "lucida grande", "Lucida Sans Unicode", tahoma, sans-serif;
  line-height: 125%;
  background-color: #ffffff;
}

header, #main, footer p, nav ul {
  max-width: 60em;
  margin: auto;
}

nav {
  max-width: 100%;
  color: #000000;
  background-color: rgb(247, 247, 247);
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin: 0;
  padding: 1em 0 1em 0;
  overflow: hidden;
  ul {
    display: block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    li {
      display: inline-block;
      text-align: center;
      margin: 0;
      width: 11.5em;
      padding: 0;
    }
    li:first-child {
      text-align: left;
    }
    li:last-child {
      text-align: right;
      width: 12em;
      input {
        width: 11em;
        background-image: url("search.png");
        background-repeat: no-repeat;
        background-position: center right;
        padding: .2em 1.5em .2em .2em;
        margin: 0;
        font-size: 90%;
        border: 1px solid #888888;
      }
    }
  }
  ul.mobile {
    li {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  a:link, a:active, a:visited {
    color: #000000;
  }
}
@media screen and (min-width: 550px) {
  /* desktop layout */
  ul.mobile {
    display: none;
  }
  ul.navigation { }
  nav {
    ul.navigation {
      li {
        display: inline-block;
        width: 11.5em;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  /* mobile layout */
  ul.mobile { }
  ul.navigation {
    display: none;
  }
  nav {
    ul.navigation {
      li {
        display: block;
        width: 100%;
        text-align: center;
        padding: .5em 0 .5em 0;
      }
      li:first-child {
        text-align: center;
      }
      li:last-child {
        text-align: center;
        width: 100%;
      }
    }
  }
}

#main {
  padding: 0 1em 0 1em;
}

footer {
  max-width: 100%;
  margin: 2em auto 1em auto;
  padding: 1em 1em 0 1em;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-style: solid;
  border-top-width: 1px;
  font-size: 80%;
}

h1 {
  text-align: right;
  font-size: 200%;
  line-height: 125%;
  margin: 1.25em 0 .75em 0;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: rgb(29, 86, 137);
}
a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
.clear {
  clear: both;
}
.vertical_spacer {
  height: .5em;
}
.center {
  text-align:center;
}