.search_form {
  margin: 2em 0 3em 0;
  input {
    width: 80%;
    background-image: image-url("search.png");
    background-repeat: no-repeat;
    background-position: center right;
    padding: .2em 1.5em .2em .2em;
    margin: 0;
    font-size: 90%;
    border: 1px solid #888888;
  }
}

ol.search_results {
  list-style-type: none;
  margin: 0;
  padding:  1em .75em 1em .75em;
  max-width: 60em;
  overflow: hidden;
  li {
    margin: 0 !important;
    padding: .5em 0 .5em 0;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: dotted;
    border-bottom-width: 1px;
  }
  li:last-child {
    border-bottom: none;
  }
}

.search_results {
  .user_details {
    display: block;
    margin: 0;
    padding: 0;
    .avatar {
      display: block;
      float: left;
      padding: 0;
      margin: 0 .5em 0 0;
      vertical-align: top;
      max-width: 40px;
      overflow: hidden;
    }
    .user_preview {
      display: inline-block;
      max-width: 54em;
      .name {
        display: block;
        vertical-align: bottom;
        font-size: 125%;
        font-weight: 700;
        a:link, a:active, a:visited {
          color: rgb(29, 86, 137);
        }
      }
      dl.about {
        dt.badges {
          display: inline !important;
        }
        dd.badges {
          display: inline !important;
        }
      }
      .badges {
        display: block;
        vertical-align: bottom;
      }
    }
  }
  .discussion_metadata, .comment_preview {
    a:link, a:active, a:visited {
      color: rgb(0, 0, 0);
    }
  }
  .discussion_details, .comment_details {
    .name {
      font-size: 110%;
      font-weight: bold;
      margin: 0 0 .5em 0;
      display: block;
    }
    .avatar {
      display: inline;
      margin: 0 .5em 0 0;
      vertical-align: top;
    }
    .discussion_preview, .comment_preview {
      display: inline-block;
      max-width: 45em;
      vertical-align: top;
      .discussion_snippit, .comments_nippit {
        display: block;
      }
    }
  }
  .comment_details {
    .category, .author, .date {
      display: inline;
      font-size: 75%;
      color: rgb(204, 204, 204);
      padding: 0 1.5em 0 0;
      a:link, a:active, a:visited {
        color: rgb(204, 204, 204);
      }
    }
  }
}