%h1
  File not found

%p
  If you believe there should have been something here besides an error page, please #{link_to 'let us know', 'https://github.com/biohack-me/forum_archive/issues/new/choose'}!